
@use 'globals' as *;

.card{
    // border:  1px solid black;
    @include card();

    &__image img{
        width: 90%;   
        margin: 15px 0;
    }

    &__info{
        margin-top: 40px;
        h2{
            @include font($font-title, 20px, 600, $color-dark-cyan, 3.5rem);
            margin-bottom: 14px;
        }
        p{
            @include font($font-body, 15px, 400, $color-dark-cyan, 2.25rem);
            margin-bottom: 0;
            opacity: 0.6;
        }
    
    }
}

.pop-up{
    align-items: center;
    @include card();
    h2{
        @include font($font-title, 15px, 600, $color-dark-cyan, 3.5rem);
        margin-bottom: 20px;
    }
    button{
        font-weight: 700;
        @include button(180px, 35px, $color-pale-cyan, $color-pink, 10px);
    }
}