@use 'globals' as *;

footer{
    background-color: $color-dark-cyan;
    padding: $paddings;
    padding-top: 130px;
    color:white;
    display: flex;
    flex-direction: column;
    picture img{
        width: 170px;
        margin-left: 12px;
    }

    .info{
        @include font($font-body, 1.5rem, 400, $color-white, 2.5rem);
        p{
            margin-bottom: 10px;
            span {
                width: 25px;
                height: 25px;
                background-image: url("../images/icon-phone.svg");
            }
        }

        &__contact{
            margin-top: 15px;
            figure {
                display: flex;
                align-items: flex-start;
                padding: 10px;


                .container-image {
                    width: 25px;
                    height: 20px;

                    img {
                        // position: relative;
                        width: 90%;
                        padding: 0;
                        margin: 0;
                        align-self: center;
                    }

                }

                figcaption {
                    margin-left: 20px;
                }
                
            }

            figure:first-child img{
                width: 15px;
                margin-top: 10px;
            }

            figure:first-child figcaption{
                margin-left: 30px;
            }

            figure:last-child img{
                margin-top: 4px;
                width: 25px;
                height: 20px;
            }
            
        }

        &__about {
            margin-top: 40px;
            p:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &__blog{
            p:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }

        &__social-media {
            margin-top: 40px;
            width: 32.5%;
            display: flex;
            justify-content: space-between;
            margin: 45px auto 20px auto;

            ion-icon {
                font-size: 1.5rem;
                border: 1px solid $color-white;
                border-radius: 50px;
                padding: 5px;
            }

            ion-icon:hover{
                color: $color-pink;
                border: 1px solid $color-pink;
                cursor: pointer;
            }
        }
    }
    .copyright {
        text-align: center;
    }

}

