@use 'globals' as *;

footer{
    background-color: $color-dark-cyan;
    padding: $paddings;
    padding-top: 130px;
    color:white;
    display: flex;
    flex-direction: column;
    img{
        width: 140px;
        margin-bottom: 20px;
    }
    .info{
        @include font($font-body, 14px, 400, $color-white, 2.5rem);
        p{
            margin-bottom: 10px;
        }
    }

}