$font-title: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-size-one: 18px;

$color-pink: hsl(322, 100%, 66%);
$color-pale-cyan:  hsl(193, 100%, 96%);
$color-dark-cyan: hsl(192, 100%, 9%);
$color-grayish-blue: hsl(208, 11%, 55%);
$color-white: #ffffff;

$paddings: 30px 20px;
$paddings-desktop: 40px 80px;

@mixin button($width, $height, $color, $bg, $font-size ){
    width: $width;
    height: $height;
    color: $color;
    background-color: $bg;
    font-size: $font-size;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}
@mixin card($margin-left-right,$padding-top-bottom,$padding-left-right){
    margin: 30px $margin-left-right;
    padding: $padding-top-bottom $padding-left-right;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@mixin font($font-family, $font-size, $font-weight, $font-color, $font-height){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $font-color;
    line-height: $font-height;

}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-body;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;

}



