@use "./globals.scss" as *;

header{
    background-color: $color-pale-cyan;
    background: url(../images/bg-hero-mobile.svg) center/cover no-repeat;
    width: 100%;
    height: 100vh;
}

.navigation{
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;


    &__image {
        margin: 0;
    }

    &__image img{
        width: 50%;
    }

    &__button {
        font-weight: 700;

        @include button(120px, 35px, $color-dark-cyan, $color-white, 12px);


    }
}