@use "./globals.scss" as *;

header{
    position: relative;
    background-color: $color-pale-cyan;
    background: url(../images/bg-hero-mobile.svg) center/cover no-repeat;
    width: 100%;

    @include desktop {
        background: url(../images/bg-hero-desktop.svg) center/cover no-repeat;
        margin-bottom: 50px;
    }
    // height: 100vh;
}

.navigation{
    display: flex;
    padding: $paddings;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color-pale-cyan, 0.7);

    @include desktop {
        padding: $paddings-desktop;
    }

    &__image {
        margin: 0;
    }

    &__image img{
        width: 50%;

        @include desktop{
            width: 75%;
        }
    }

    &__button {
        font-weight: 700;

        @include button(120px, 35px, $color-dark-cyan, $color-white, 12px);

        @include desktop{

            width: 165px;
            height: 40px;
        }

    }
}

.hero{
    display: flex;
    align-items: center;
    padding: $paddings;
    flex-direction: column;
    text-align: center;
    background-color: rgba($color-pale-cyan, 0.7);

    @include desktop {
        flex-direction: row;
        text-align: left;
        padding: $paddings-desktop;
    }
    

    &__image img {

        padding-top: 20px;
        width: 90%;

        @include desktop {
            width: 84%;
            text-align: center;
            float: right;
        }
    }
    

    &__info {

        @include desktop {
            width: 45%;
            padding-top: 80px
        }

        h1{ 
            @include font($font-title, 25px, 600, $color-dark-cyan, 3.5rem);
            margin-bottom: 25px;
            
            @include desktop {
                // padding-right: 20px;
                @include font($font-title, 3.5rem, 600, $color-dark-cyan, 5rem);
            }
        }

        p{
            @include font($font-body, 16px, 400, $color-dark-cyan, 2.25rem);
            margin-bottom: 25px;
            padding:0 15px;
            
            @include desktop {
                padding: 0;
                // padding-right: 50px;
                @include font($font-body, 1.6rem, 400, $color-dark-cyan, 2.5rem);
            }

        }

        button {
            font-weight: 700;
            @include button(245px, 35px, $color-pale-cyan, $color-pink, 13px);
            margin-bottom: 30px;
            
            @include desktop {
                
                @include button(55%, 45px, $color-pale-cyan, $color-pink, 13px);
            }
        }
        

    }
}
