@use "./globals.scss" as *;

header{
    position: relative;
    background-color: $color-pale-cyan;
    background: url(../images/bg-hero-mobile.svg) center/cover no-repeat;
    width: 100%;
    // height: 100vh;
}

.navigation{
    display: flex;
    padding: $paddings;
    justify-content: space-between;
    align-items: center;


    &__image {
        margin: 0;
    }

    &__image img{
        width: 50%;
    }

    &__button {
        font-weight: 700;

        @include button(120px, 35px, $color-dark-cyan, $color-white, 12px);


    }
}

.hero{
    display: flex;
    align-items: center;
    padding: $paddings;
    flex-direction: column;
    text-align: center;
    

    &__image img {

        padding-top: 20px;
        width: 90%;
    }
    

    &__info {
        h1{ 
            @include font($font-title, 25px, 600, $color-dark-cyan, 3.5rem);
            margin-bottom: 25px;
        }

        p{
            @include font($font-body, 16px, 400, $color-dark-cyan, 2.25rem);
            margin-bottom: 25px;
            padding:0 15px;

        }

        button {
            font-weight: 700;
            @include button(245px, 35px, $color-pale-cyan, $color-pink, 13px);
            margin-bottom: 30px;
            
    
        }
        

    }
}
