* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

header {
  position: relative;
  background-color: hsl(193deg, 100%, 96%);
  background: url(../images/bg-hero-mobile.svg) center/cover no-repeat;
  width: 100%;
}
@media (min-width: 1200px) {
  header {
    background: url(../images/bg-hero-desktop.svg) center/cover no-repeat;
    margin-bottom: 50px;
  }
}

.navigation {
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(235, 251, 255, 0.7);
}
@media (min-width: 1200px) {
  .navigation {
    padding: 40px 80px;
  }
}
.navigation__image {
  margin: 0;
}
.navigation__image img {
  width: 50%;
}
.navigation__button {
  font-weight: 700;
  width: 120px;
  height: 35px;
  color: hsl(192deg, 100%, 9%);
  background-color: #ffffff;
  font-size: 12px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.navigation__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  flex-direction: column;
  text-align: center;
  background-color: rgba(235, 251, 255, 0.7);
}
@media (min-width: 1200px) {
  .hero {
    flex-direction: row;
    text-align: left;
    padding: 40px 80px;
  }
}
.hero__image img {
  padding-top: 20px;
  width: 90%;
}
@media (min-width: 1200px) {
  .hero__image img {
    width: 84%;
    text-align: center;
    float: right;
  }
}
@media (min-width: 1200px) {
  .hero__info {
    width: 45%;
    padding-top: 80px;
  }
}
.hero__info h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: hsl(192deg, 100%, 9%);
  line-height: 3.5rem;
  margin-bottom: 25px;
}
@media (min-width: 1200px) {
  .hero__info h1 {
    font-family: "Poppins", sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: hsl(192deg, 100%, 9%);
    line-height: 5rem;
  }
}
.hero__info p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(192deg, 100%, 9%);
  line-height: 2.25rem;
  margin-bottom: 25px;
  padding: 0 15px;
}
@media (min-width: 1200px) {
  .hero__info p {
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: hsl(192deg, 100%, 9%);
    line-height: 2.5rem;
  }
}
.hero__info button {
  font-weight: 700;
  width: 245px;
  height: 35px;
  color: hsl(193deg, 100%, 96%);
  background-color: hsl(322deg, 100%, 66%);
  font-size: 13px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;
}
.hero__info button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .hero__info button {
    width: 55%;
    height: 45px;
    color: hsl(193deg, 100%, 96%);
    background-color: hsl(322deg, 100%, 66%);
    font-size: 13px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .hero__info button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.card {
  position: relative;
  margin: 30px 20px;
  padding: 30px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media (min-width: 1200px) {
  .card {
    margin: 30px 20px;
    align-items: center;
    padding-right: 0px;
  }
}
@media (min-width: 1200px) {
  .card {
    margin: 50px 80px;
    padding: 30px 35px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  .card {
    margin: 50px 80px;
    align-items: center;
    padding-right: 0px;
  }
}
.card__image img {
  width: 90%;
  margin: 15px 0;
}
@media (min-width: 1200px) {
  .card__image img {
    width: 70%;
    padding: 0;
    margin: 20px 0px;
    position: relative;
    right: 0;
    left: 55px;
  }
}
.card__info {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .card__info {
    text-align: left;
    padding: 0 70px;
    width: 95%;
    margin: 0;
  }
}
.card__info h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: hsl(192deg, 100%, 9%);
  line-height: 3.5rem;
  margin-bottom: 14px;
}
@media (min-width: 1200px) {
  .card__info h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: hsl(192deg, 100%, 9%);
    line-height: 3.5rem;
  }
}
.card__info p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsl(192deg, 100%, 9%);
  line-height: 2.25rem;
  margin-bottom: 0;
  opacity: 0.6;
}
@media (min-width: 1200px) {
  .card__info p {
    font-family: "Open Sans", sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: hsl(192deg, 100%, 9%);
    line-height: 2.5rem;
    padding-right: 24px;
  }
}

@media (min-width: 1200px) {
  .container {
    margin-top: 120px;
  }
}

.reverse {
  flex-direction: row;
  padding-right: 6px;
}
@media (min-width: 1200px) {
  .reverse .card__image {
    position: relative;
    left: -80px;
    right: 0px;
  }
}

.pop-up {
  background-color: white;
  position: relative;
  top: 100px;
  z-index: 3;
  align-items: center;
  margin: 30px 10px;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@media (min-width: 1200px) {
  .pop-up {
    margin: 30px 10px;
    align-items: center;
    padding-right: 0px;
  }
}
.pop-up h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: hsl(192deg, 100%, 9%);
  line-height: 3.5rem;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .pop-up h2 {
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.pop-up button {
  font-weight: 700;
  width: 180px;
  height: 35px;
  color: hsl(193deg, 100%, 96%);
  background-color: hsl(322deg, 100%, 66%);
  font-size: 10px;
  border: none;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.pop-up button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .pop-up button {
    width: 45%;
    height: 70px;
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .pop-up {
    width: 58%;
    margin: 0 auto;
    height: 265px;
    padding-top: 60px;
  }
}

footer {
  background-color: hsl(192deg, 100%, 9%);
  padding: 30px 20px;
  padding-top: 130px;
  color: white;
  display: flex;
  flex-direction: column;
}
footer picture img {
  width: 170px;
  margin-left: 12px;
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  footer {
    padding: 130px 80px 130px;
  }
}
footer .info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 2.5rem;
}
@media (min-width: 1200px) {
  footer .info {
    display: flex;
    flex-direction: row;
  }
}
footer .info p {
  margin-bottom: 10px;
}
footer .info p span {
  width: 25px;
  height: 25px;
  background-image: url("../images/icon-phone.svg");
}
@media (min-width: 1200px) {
  footer .info__contact {
    width: 40%;
    padding-right: 20px;
  }
}
footer .info__contact figure {
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
footer .info__contact figure .container-image {
  width: 25px;
  height: 20px;
}
footer .info__contact figure .container-image img {
  width: 90%;
  padding: 0;
  margin: 0;
  align-self: center;
}
footer .info__contact figure figcaption {
  margin-left: 20px;
}
footer .info__contact figure:first-child img {
  width: 15px;
  margin-top: 10px;
}
@media (min-width: 1200px) {
  footer .info__contact figure:first-child img {
    margin-top: 0px;
  }
}
footer .info__contact figure:first-child figcaption {
  margin-left: 30px;
}
footer .info__contact figure:last-child img {
  margin-top: 4px;
  width: 25px;
  height: 20px;
}
footer .info__about {
  margin-top: 40px;
}
footer .info__about p:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  footer .info__about {
    margin-top: 10px;
    width: 20%;
  }
}
footer .info__blog p:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media (min-width: 1200px) {
  footer .info__blog {
    width: 20%;
    margin-top: 10px;
  }
}
footer .info__social-media {
  margin-top: 40px;
  width: 32.5%;
  display: flex;
  justify-content: space-between;
  margin: 45px auto 20px auto;
}
@media (min-width: 1200px) {
  footer .info__social-media {
    width: 10%;
    margin-right: 120px;
    margin-top: 10px;
  }
}
footer .info__social-media ion-icon {
  font-size: 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 5px;
}
footer .info__social-media ion-icon:hover {
  color: hsl(322deg, 100%, 66%);
  border: 1px solid hsl(322deg, 100%, 66%);
  cursor: pointer;
}

.copyright {
  text-align: center;
}
@media (min-width: 1200px) {
  .copyright {
    text-align: right;
  }
}/*# sourceMappingURL=index.css.map */